<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"
>
</script>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
  integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
  crossorigin="anonymous"
>
</script>

<h1>Booking confirmed</h1>

<div class="container">

  <table class="table table-striped mt-4">
    <tr>
      <th>Booking Id</th>

      <th>Source</th>
      <th>Destination</th>
      <th>Fare</th>

    </tr>

    {{!-- {{#each data}} --}}
    <tr>
      <td>{{data.dataValues.id}}</td>
      <td>{{data.dataValues.source}}</td>
      
      <td>{{data.dataValues.destination}}</td>
      <td>{{data.dataValues.fare}}</td>

      {{!-- <td>{{this.dataValues.password}}</td> --}}
      <td>


      </td>
    </tr>
    {{!-- {{/each}} --}}
  </table>
</div>