<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"
>
</script>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
  integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
  crossorigin="anonymous"
>
</script>
<h1 class="text-center">Trips</h1>
<div class="container">
  
  <table class="table table-striped mt-4">
    <tr>
      <th>Id</th>
      <th>Car Number</th>
      <th>Source</th>
      <th>Destination</th>
      <th>date</th>
      <th>time</th>
      <th>mode</th>
      
    </tr>
    {{#each data}}
      <tr>
        <td>{{this.dataValues.carno}}</td>
        <td>{{this.dataValues.source}}</td>
        <td>{{this.dataValues.destination}}</td>
        <td>{{this.dataValues.date}}</td>
        <td>{{this.dataValues.time}}</td>
        <td>{{this.dataValues.mode}}</td>
       
        {{!-- <td>{{this.dataValues.password}}</td> --}}
        <td>

          <a
            href="http://localhost/trip/update/{{this.dataValues.id}}"
          >Edit</a>
          |

          <a
            href="http://localhost/trip/delete/{{this.dataValues.id}}"
            class="text-danger"
            onclick="return confirm('Are you sure you want to delete this')"
          >Delete</a>
        </td>
      </tr>
    {{/each}}
  </table>
</div>